<div class="mt-20 bg-background p-6 pb-8 sm:px-8">
  <div class="mb-4 mr-2 flex">
    <h1 class="flex-1 text-xl font-bold text-gray-900 dark:text-white">Connect to this Community</h1>
  </div>
  <p class="dark:text-gray-200">Scan or enter this code on another device to join this Community.</p>
  <div class="mt-16 text-center">
    <p class="mb-2 text-3xl font-semibold text-primary">
      {{ appSession.tenant?.communityCode }}
    </p>
    <div class="mb-4 flex items-center justify-center">
      <img [src]="appSession.qrImage" class="w-3/4 max-w-lg rounded-lg border-2 border-gray-200" />
    </div>
    <div class="mb-2 flex items-center justify-center">
      <button
        (click)="download(appSession?.qrImage)"
        class="flex items-center justify-center rounded-lg border-[1px] border-gray-400 px-5 py-2 text-xs font-semibold text-gray-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90 dark:text-white">
        Download QR
      </button>
    </div>
  </div>
</div>
