<div class="flex h-screen w-full overflow-hidden">
  <div class="flex w-full grow flex-col content-start overflow-hidden bg-background">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto overscroll-none pb-20 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <!-- <app-footer></app-footer> -->

    <!-- Bottom bar -->
    <app-bottom-navbar [ngClass]="pageAction === 'Menu' ? '' : 'hidden'"></app-bottom-navbar>
  </div>
</div>

<alertModal #alertModal></alertModal>
