<div class="relative h-full w-full" (click)="play()">
  <img [src]="image" class="absolute top-1/2 left-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..." />
  <div class="absolute inset-0 flex w-full items-center justify-center">
    <button
        (click)="play(); $event.stopPropagation()"
      type="button"
      class="rounded-full bg-white p-2.5 text-sm font-medium text-primary dark:bg-white">
      <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z"
            fill="currentColor"></path>
        </g>
      </svg>
      <span class="sr-only">Icon description</span>
    </button>
  </div>
  <div class="absolute bottom-0 h-20 w-full px-6 pb-6 backdrop-blur-sm"></div>
  <div class="absolute bottom-0 h-20 w-full bg-gray-300/50 px-6 pb-6 text-white dark:bg-gray-400/50">
    <div class="mt-4 flex items-center justify-between">
      <div>
        <span class="-mb-1 block font-semibold">{{ title }}</span>
        <span class="text-xs">{{ subtitle }}</span>
      </div>
      <button class="rounded-full bg-white p-2.5 text-center text-sm font-medium text-gray-700">
        <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path d="M15 6H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
