<div id="default-carousel" class="relative z-10 mb-6 w-full" data-carousel="slide">
  <div class="flex items-center pb-4">
    <div class="mx-5 flex-1 text-right">
      <button
        data-carousel-prev
        type="button"
        class="rounded-full bg-secondary p-2.5 text-center text-sm font-medium text-gray-700 ring-2 ring-gray-200 focus:outline-none focus:ring-4 dark:text-gray-200">
        <svg
          class="h-4 w-4"
          viewBox="-5.5 0 26 26"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
          fill="currentColor">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>chevron-left</title>
            <desc>Created with Sketch Beta.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g
                id="Icon-Set-Filled"
                sketch:type="MSLayerGroup"
                transform="translate(-423.000000, -1196.000000)"
                fill="currentColor">
                <path
                  d="M428.115,1209 L437.371,1200.6 C438.202,1199.77 438.202,1198.43 437.371,1197.6 C436.541,1196.76 435.194,1196.76 434.363,1197.6 L423.596,1207.36 C423.146,1207.81 422.948,1208.41 422.985,1209 C422.948,1209.59 423.146,1210.19 423.596,1210.64 L434.363,1220.4 C435.194,1221.24 436.541,1221.24 437.371,1220.4 C438.202,1219.57 438.202,1218.23 437.371,1217.4 L428.115,1209"
                  id="chevron-left"
                  sketch:type="MSShapeGroup"></path>
              </g>
            </g>
          </g>
        </svg>
        <span class="sr-only">Icon description</span>
      </button>
    </div>
    <div class="text-center">
      <p class="text-xs text-gray-500 dark:text-gray-400">Most Epic Selection</p>
      <p class="mb-1 text-lg font-bold text-gray-900 dark:text-white">Your Top Pick</p>
    </div>
    <div class="mx-5 flex-1">
      <button
        data-carousel-next
        type="button"
        class="rounded-full bg-secondary p-2.5 text-center text-sm font-medium text-gray-700 ring-2 ring-gray-200 focus:outline-none focus:ring-4 dark:text-gray-200">
        <svg
          class="h-4 w-4"
          viewBox="-5.5 0 26 26"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
          fill="currentColor">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>chevron-right</title>
            <desc>Created with Sketch Beta.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g
                id="Icon-Set-Filled"
                sketch:type="MSLayerGroup"
                transform="translate(-474.000000, -1196.000000)"
                fill="currentColor">
                <path
                  d="M488.404,1207.36 L477.637,1197.6 C476.806,1196.76 475.459,1196.76 474.629,1197.6 C473.798,1198.43 473.798,1199.77 474.629,1200.6 L483.885,1209 L474.629,1217.4 C473.798,1218.23 473.798,1219.57 474.629,1220.4 C475.459,1221.24 476.806,1221.24 477.637,1220.4 L488.404,1210.64 C488.854,1210.19 489.052,1209.59 489.015,1209 C489.052,1208.41 488.854,1207.81 488.404,1207.36"
                  id="chevron-right"
                  sketch:type="MSShapeGroup"></path>
              </g>
            </g>
          </g>
        </svg>
        <span class="sr-only">Icon description</span>
      </button>
    </div>
  </div>

  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-3xl md:h-96">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <app-podcast-block-item
        image="./assets/images/image-07.jpg"
        title="Chocolate Dreams"
        subtitle="Factory stories from the past"></app-podcast-block-item>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <app-podcast-block-item
        image="./assets/images/image-05.jpg"
        title="Fearless Future"
        subtitle="A story about life"></app-podcast-block-item>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <app-podcast-block-item
        image="./assets/images/image-01.jpg"
        title="Cool Bananas"
        subtitle="A lazy day is healty"></app-podcast-block-item>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <app-podcast-block-item
        image="./assets/images/image-04.jpg"
        title="Facing the Impossible"
        subtitle="The roof is on water"></app-podcast-block-item>
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <app-podcast-block-item
        image="./assets/images/image-02.jpg"
        title="Coffee Spark"
        subtitle="Taking it easy is not easy"></app-podcast-block-item>
    </div>
  </div>
</div>

<div class="mb-4 mr-2 flex">
  <h1 class="flex-1 text-xl font-bold text-gray-900 dark:text-white">Trending Podcast</h1>
  <button type="button" class="text-center text-sm font-medium text-gray-700 dark:text-white">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <title></title>
        <g id="Complete">
          <g id="F-More">
            <path
              d="M8,12a2,2,0,1,1-2-2A2,2,0,0,1,8,12Zm10-2a2,2,0,1,0,2,2A2,2,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z"
              id="Horizontal"></path>
          </g>
        </g>
      </g>
    </svg>
  </button>
</div>

<app-podcast-list-item
  image="./assets/images/image-08.jpg"
  title="Hot or Spicy"
  subtitle="Would you like some tea"></app-podcast-list-item>
<app-podcast-list-item
  image="./assets/images/image-12.jpg"
  title="Panda Bee"
  subtitle="Not everyone loves flowers"></app-podcast-list-item>
<app-podcast-list-item
  image="./assets/images/image-09.jpg"
  title="Life Hack"
  subtitle="Medicine for the soul"></app-podcast-list-item>
<app-podcast-list-item
  image="./assets/images/image-11.jpg"
  title="Kitty Cat"
  subtitle="Prrrr away your troubles"></app-podcast-list-item>
