<div class="mb-4 mr-2 flex items-center" (click)="play()">
  <img class="mr-3 h-16 w-24 rounded-box object-cover shadow-xl" [src]="image" alt="image description" />
  <div class="flex-1">
    <p class="text-sm font-semibold text-gray-800 dark:text-white">{{ title }}</p>
    <p class="text-xs text-gray-500 dark:text-gray-400">{{ subtitle }}</p>
  </div>
  <button
    (click)="play(); $event.stopPropagation()"
    type="button"
    class="rounded-full bg-gray-700 p-2.5 text-sm font-medium text-white dark:bg-gray-700">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z"
          fill="currentColor"></path>
      </g>
    </svg>
    <span class="sr-only">Icon description</span>
  </button>
</div>
