<div class="h-25 fixed bottom-0 left-0 right-0 z-20 w-full px-3 pb-5">
  <div class="font-small mx-auto grid h-full max-w-lg grid-cols-4 rounded-3xl bg-black p-5">
    <button
      (click)="navigate('home')"
      class="group inline-flex items-center justify-center rounded-box pt-2"
      [ngClass]="router.url === '/home' ? 'bg-primary' : ''">
      <svg-icon
        src="assets/icons/heroicons/solid/home.svg"
        [svgClass]="'ml-2 mb-2 h-6 w-6'"
        [ngClass]="router.url === '/home' ? 'text-black' : 'text-white'">
      </svg-icon>
      <p class="mx-2 mb-2 text-sm font-bold" [ngClass]="router.url === '/home' ? 'text-black' : 'hidden'">Home</p>
    </button>
    <button
      (click)="navigate('explore')"
      class="group inline-flex items-center justify-center rounded-box pt-2"
      [ngClass]="router.url === '/explore' ? 'bg-primary' : ''">
      <svg-icon
        src="assets/icons/heroicons/solid/compass.svg"
        [svgClass]="'ml-2 mb-2 h-6 w-6'"
        [ngClass]="router.url === '/explore' ? 'text-black' : 'text-white'">
      </svg-icon>
      <p class="mx-2 mb-2 text-sm font-bold" [ngClass]="router.url === '/explore' ? 'text-black' : 'hidden'">Expl.</p>
    </button>
    <button
      (click)="navigate('favourites')"
      class="group inline-flex items-center justify-center rounded-box pt-2"
      [ngClass]="router.url === '/favourites' ? 'bg-primary' : ''">
      <svg-icon
        src="assets/icons/heroicons/solid/heart.svg"
        [svgClass]="'ml-2 mb-2 h-6 w-6'"
        [ngClass]="router.url === '/favourites' ? 'text-black' : 'text-white'">
      </svg-icon>
      <p class="mx-2 mb-2 text-sm font-bold" [ngClass]="router.url === '/favourites' ? 'text-black' : 'hidden'">Fav</p>
    </button>
    <button
      (click)="navigate('profile')"
      class="group inline-flex items-center justify-center rounded-box pt-2"
      [ngClass]="router.url === '/profile' ? 'bg-primary' : ''">
      <svg-icon
        src="assets/icons/heroicons/solid/user.svg"
        [svgClass]="'ml-2 mb-2 h-6 w-6'"
        [ngClass]="router.url === '/profile' ? 'text-black' : 'text-white'">
      </svg-icon>
      <p class="mx-2 mb-2 text-sm font-bold" [ngClass]="router.url === '/profile' ? 'text-black' : 'hidden'">Prof.</p>
    </button>
  </div>
</div>
