<div class="h-25 fixed bottom-0 left-0 z-30 w-full lg:hidden">
  <div class="font-small mx-auto grid h-full grid-cols-5">
    <button
      (click)="navigate('home')"
      type="button"
      class="group -mx-1 inline-flex flex-col items-center justify-center bg-gray-900 px-5 pt-4 pb-8">
      <svg-icon
        src="assets/icons/other/home-3.svg"
        [svgClass]="'mb-2 h-6 w-6'"
        [ngClass]="router.url === '/home' ? 'text-primary' : 'text-gray-400 dark:text-white '">
      </svg-icon>
      <span
        class="text-sm"
        [ngClass]="router.url === '/home' ? 'font-bold text-primary' : 'text-gray-400 dark:text-white'"
        >Home</span
      >
    </button>
    <button
      (click)="navigate('explore')"
      type="button"
      class="group mr-4 -ml-1 inline-flex flex-col items-center justify-center bg-gray-900 pl-5 pt-4 pb-8">
      <svg-icon
        src="assets/icons/other/chart.svg"
        [svgClass]="'mb-2 h-6 w-6'"
        [ngClass]="router.url === '/explore' ? 'text-primary' : 'text-gray-400 dark:text-white'">
      </svg-icon>
      <span
        class="text-sm"
        [ngClass]="router.url === '/explore' ? 'font-bold text-primary' : 'text-gray-400 dark:text-white'"
        >Stats</span
      >
    </button>
    <div class="relative flex items-center justify-center">
      <div class="absolute -top-4 rounded-full p-4">
        <button
          (click)="action()"
          class="inline-flex h-12 w-12 items-center justify-center rounded-full bg-primary font-medium shadow-lg focus:outline-none focus:ring-4 focus:ring-gray-300 hover:bg-primary dark:focus:ring-gray-800">
          <svg-icon src="assets/icons/other/scan.svg" [svgClass]="'h-6 w-6 text-white'"> </svg-icon>
          <span class="sr-only">New item</span>
        </button>
      </div>
      <div class="absolute bottom-0 h-11 w-full bg-gray-900"></div>
      <div class="absolute left-0 -ml-5 h-full w-7 rounded-tr-full bg-gray-900"></div>
      <div class="absolute right-0 -mr-5 h-full w-7 rounded-tl-full bg-gray-900"></div>

      <div
        class="absolute right-1 top-6 h-full w-9 bg-gray-900"
        style="
          --mask: radial-gradient(32px at 0 0, #0000 98%, #000);
          -webkit-mask: var(--mask);
          mask: var(--mask);
        "></div>
      <div
        class="absolute left-1 top-6 h-full w-9 bg-gray-900"
        style="
          --mask: radial-gradient(32px at 100% 0, #0000 98%, #000);
          -webkit-mask: var(--mask);
          mask: var(--mask);
        "></div>
    </div>
    <button
      (click)="navigate('favourites')"
      type="button"
      class="group ml-4 -mr-1 inline-flex flex-col items-center justify-center bg-gray-900 pr-5 pt-4 pb-8">
      <svg-icon
        src="assets/icons/other/wallet-solid.svg"
        [svgClass]="'mb-2 h-6 w-6'"
        [ngClass]="router.url === '/favourites' ? 'text-primary' : 'text-gray-400 dark:text-white'">
      </svg-icon>
      <span
        class="text-sm"
        [ngClass]="router.url === '/favourites' ? 'font-bold text-primary' : 'text-gray-400 dark:text-white'"
        >Cards</span
      >
    </button>
    <button
      (click)="navigate('profile')"
      type="button"
      class="group -mx-1 inline-flex flex-col items-center justify-center bg-gray-900 px-5 pt-4 pb-8">
      <svg-icon
        src="assets/icons/other/user.svg"
        [svgClass]="'mb-2 h-6 w-6'"
        [ngClass]="router.url === '/profile' ? 'text-primary' : 'text-gray-400 dark:text-white'">
      </svg-icon>
      <span
        class="text-sm"
        [ngClass]="router.url === '/profile' ? 'font-bold text-primary' : 'text-gray-400 dark:text-white'"
        >Profile</span
      >
    </button>
  </div>
</div>
