<div id="slider" class="swipe h-screen">
  <div class="swipe-wrap" style="position: fixed">
    <div class="relative flex h-screen items-center justify-center">
      <slide-content
        heading="Welcome to Podcast by"
        [showLogo]="true"
        description="We offer online production ready SaaS solutions with a wide range of available apps."
        svgimage="assets/images/svg/welcome.svg"></slide-content>
      <div class="absolute bottom-16">
        <div class="mb-6 flex items-center justify-center">
          <div class="mx-2 h-5 w-5 rounded-full bg-primary"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
        </div>
        <div class="flex">
          <button
            disabled="true"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-gray-300 px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Prev
          </button>
          <button
            (click)="next()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Next
          </button>
        </div>
      </div>
    </div>

    <div class="relative flex h-screen items-center justify-center">
      <slide-content
        heading="How it Works?"
        description="Every app will need to be connected to a community. A Community Code can be shared by anyone who has created an App."
        svgimage="assets/images/svg/community.svg"></slide-content>
      <div class="absolute bottom-16">
        <div class="mb-6 flex items-center justify-center">
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-5 w-5 rounded-full bg-primary"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
        </div>
        <div class="flex">
          <button
            (click)="prev()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Prev
          </button>
          <button
            (click)="next()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="relative flex h-screen items-center justify-center">
      <slide-content
        heading="Getting Started"
        description="To get started you will need to link your app with a Comminuty Code. You can scan a QR code or enter a code shared with you."
        svgimage="assets/images/svg/scan.svg"></slide-content>
      <div class="absolute bottom-16">
        <div class="mb-6 flex items-center justify-center">
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-5 w-5 rounded-full bg-primary"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
        </div>
        <div class="flex">
          <button
            (click)="prev()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Prev
          </button>
          <button
            (click)="next()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="relative flex h-screen items-center justify-center">
      <slide-content
        heading="Stay Safe!"
        description="Every App Owner runs their own community and we're not always there to verify information shared. Please make sure you know and trust your Community Owner."
        svgimage="assets/images/svg/warning.svg"></slide-content>
      <div class="absolute bottom-16">
        <div class="mb-6 flex items-center justify-center">
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-3 w-3 rounded-full bg-gray-200"></div>
          <div class="mx-2 h-5 w-5 rounded-full bg-primary"></div>
        </div>
        <div class="flex">
          <button
            (click)="prev()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Prev
          </button>
          <button
            (click)="next()"
            class="mx-4 flex w-24 items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90">
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="relative flex h-screen items-center justify-center">
      <div class="mx-6 flex-col text-center">
        <div class="my-10 space-y-6">
          <div class="text-center">
            <h2 class="mb-1 text-3xl font-semibold text-foreground">Connect App</h2>
            <p class="text-sm text-muted-foreground">Scan App Comminuty Code or Enter Code to continue</p>
            <div class="mt-2 w-full text-center">
              <button (click)="scanQR()" class="mx-auto w-24 rounded-box bg-white p-4 shadow-lg dark:bg-gray-800">
                <svg-icon
                  src="assets/icons/other/qr.svg"
                  [svgClass]="'h-10 w-10 mx-auto text-gray-700 dark:text-white'">
                </svg-icon>
                <p class="text-sm text-gray-900 dark:text-white">Scan with Camera</p>
              </button>
            </div>
          </div>

          <div class="text-center text-lg">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
          </div>

          <!-- Submit Button -->
          <div>
            <button
              [disabled]="otp.length < 6 || saving"
              [ngClass]="otp.length < 6 ? 'bg-gray-400' : 'bg-primary'"
              class="flex w-full items-center justify-center rounded-lg px-5 py-2 text-sm font-semibold text-primary-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 hover:opacity-90"
              [buttonBusy]="saving"
              busyText="Connecting..."
              (click)="submit()">
              Submit
            </button>
            <p class="mt-2 text-xs dark:text-gray-200">
              Learn more at
              <button (click)="website()" class="text-blue-500 underline">
                cloudgate.dev
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<scanQRCodeModal #scanQRCodeModal></scanQRCodeModal>
