<div class="relative z-20">
  <div class="absolute w-full" [ngClass]="pageName === 'Product' ? 'hidden' : ''">
    <img class="h-32 w-full object-fill" src="./assets/images/background.png" alt="image description" />
  </div>
  <div [ngClass]="isIOS ? 'mt-10' : 'mt-5'" class="absolute mx-auto w-full px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="flex flex-1">
        <div [ngClass]="pageAction !== 'Menu' ? 'hidden' : ''" class="w-16">
          <button
            data-drawer-target="sidebar-multi-level-sidebar"
            data-drawer-toggle="sidebar-multi-level-sidebar"
            aria-controls="sidebar-multi-level-sidebar"
            type="button"
            class="inline-flex items-center rounded-lg text-sm text-white focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-600 dark:hover:bg-gray-700 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg
              class="h-6 w-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
          </button>
        </div>
        <div [ngClass]="pageAction === 'Menu' ? 'hidden' : ''" class="w-16">
          <button
            (click)="navigate(pageAction)"
            class="mr-5 rounded-full bg-white p-2 text-center text-sm font-medium text-gray-900 dark:bg-gray-700 dark:text-white">
            <svg
              class="h-5 w-5"
              viewBox="-5.5 0 26 26"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
              fill="currentColor">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <title>chevron-left</title>
                <desc>Created with Sketch Beta.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g
                    id="Icon-Set-Filled"
                    sketch:type="MSLayerGroup"
                    transform="translate(-423.000000, -1196.000000)"
                    fill="currentColor">
                    <path
                      d="M428.115,1209 L437.371,1200.6 C438.202,1199.77 438.202,1198.43 437.371,1197.6 C436.541,1196.76 435.194,1196.76 434.363,1197.6 L423.596,1207.36 C423.146,1207.81 422.948,1208.41 422.985,1209 C422.948,1209.59 423.146,1210.19 423.596,1210.64 L434.363,1220.4 C435.194,1221.24 436.541,1221.24 437.371,1220.4 C438.202,1219.57 438.202,1218.23 437.371,1217.4 L428.115,1209"
                      id="chevron-left"
                      sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>

        <!-- Logo -->
        <div class="ml-5 flex flex-1 items-center">
          <b class="text-sm font-bold" [ngClass]="pageName === 'Product' ? 'text-transparent' : 'text-white'">
            {{ pageName }}
          </b>
        </div>
      </div>

      <!-- Profile menu -->
      <div [ngClass]="pageAction !== 'Menu' ? 'hidden' : ''">
        <div class="items-center justify-end">
          <app-profile-menu></app-profile-menu>
        </div>
      </div>
      <div [ngClass]="pageAction === 'Menu' ? 'hidden' : ''">
        <div class="items-center justify-end">
          <button
            type="button"
            [ngClass]="pageName === 'Product' ? 'text-transparent' : 'text-foreground'"
            class="ml-3 pt-2 text-center text-sm font-medium">
            <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="F-More">
                    <path
                      d="M8,12a2,2,0,1,1-2-2A2,2,0,0,1,8,12Zm10-2a2,2,0,1,0,2,2A2,2,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z"
                      id="Horizontal"></path>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <!-- <app-navbar-mobile></app-navbar-mobile> -->
</div>

<aside
  id="sidebar-multi-level-sidebar"
  class="mobile-drawer fixed top-0 left-0 z-40 h-screen w-64 -translate-x-full"
  aria-hidden="true"
  aria-label="Sidebar">
  <div class="h-full overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="mb-6 max-w-2xl bg-white pb-2 text-gray-900 dark:bg-gray-900">
      <div class="h-32 overflow-hidden">
        <img class="w-full object-cover object-top" src="./assets/images/back.png" alt="Mountain" />
      </div>
      <div
        class="relative mx-auto -mt-16 flex h-32 w-32 items-center justify-center overflow-hidden rounded-full border-4 border-white bg-white">
        <img class="h-24 w-24 object-contain object-center" [src]="appSession.appIcon" alt="App icon" />
      </div>
      <div class="mt-2 text-center">
        <h2 class="font-semibold text-primary">{{ appSession.app?.appName }}</h2>
        <p class="text-xs text-gray-500 dark:text-white">{{ appSession.app?.appSubText }}</p>
      </div>

      <div class="mt-4 text-center">
        <button
          (click)="closeDrawer(); sendEmail()"
          type="button"
          class="me-2 mb-2 rounded-full bg-gradient-to-br from-pink-500 to-orange-400 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg focus:outline-none focus:ring-4 focus:ring-pink-200 hover:bg-gradient-to-bl dark:focus:ring-pink-800">
          Get in touch
        </button>
      </div>
    </div>

    <ul class="px-2 font-medium">
      <li>
        <a
          href="javascript:;"
          (click)="closeDrawer(); aboutUs()"
          class="group flex items-center rounded-lg px-2 py-3 text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <div class="w-6">
            <svg-icon src="./assets/icons/heroicons/outline/information-circle.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
          </div>
          <span class="ms-3">About Us</span>
        </a>
      </li>
      <li>
        <a
          href="javascript:;"
          (click)="closeDrawer(); share()"
          class="group flex items-center rounded-lg px-2 py-3 text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <div class="w-6">
            <svg-icon src="./assets/icons/heroicons/outline/share.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
          </div>
          <span class="ms-3">Share</span>
        </a>
      </li>
      <li>
        <a
          href="javascript:;"
          (click)="closeDrawer(); website()"
          class="group flex items-center rounded-lg px-2 py-3 text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <div class="w-6">
            <svg-icon src="./assets/icons/heroicons/outline/globe.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
          </div>
          <span class="ms-3">Website</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
