<div id="error-element" style="padding: 6% 0; text-align: center">
    <div class="" style="display: block">
        <div>
            <h1 class="fs-3x mb-6" style="font-weight: 600; padding-bottom: 30px">
                Oh no, there seems to be a problem.
            </h1>
            <a href="/" class="error-button">Let's try again?</a>
        </div>
        <div class="image-container" style="max-width: 600px; margin: 0 auto; margin-top: 30px">
            <img
                src="https://www.kindpng.com/picc/m/164-1646889_error-png-page-something-went-wrong-png-transparent.png"
                style="width: 100%; object-fit: contain"
            />
        </div>
    </div>
</div>
