<div class="flex min-h-dvh w-full">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <div class="flex w-full justify-center">
        <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      </div>
      <h1 class="text-4xl font-bold">Cloudgate Podcast Demo</h1>
      <p class="text-xs font-light">
        Easy & Perfect SaaS deployments are here and Ready for You! Enjoy seamless, automated deployment and continuous
        integration that keeps your applications up-to-date, secure, and error-free.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div [ngClass]="isOnboarding ? '' : 'mx-6'" class="w-full overflow-y-auto px-4 lg:max-w-md">
      <!-- logo -->
      <div *ngIf="!isOnboarding" class="flex items-center justify-center">
        <img [src]="companyLogo" alt="Cloudgate" class="mx-auto mb-6 w-40 md:w-64" />
      </div>
      @if (!isOnboarding && appSession.isMobile && appSession.tenant; as tenant) {
        <div
          (click)="switchApp()"
          class="mt-4 flex items-center justify-center rounded-full border-[1px] border-gray-400 bg-white p-2 text-gray-700 shadow">
          {{ tenant.name }} ({{ tenant.tenancyName }})
          <svg-icon src="assets/icons/other/reload.svg" [svgClass]="'h-5 w-5 ml-2 text-gray-900'"> </svg-icon>
        </div>
      }
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<alertModal #alertModal></alertModal>
