<div class="mt-24">
  <div class="mb-2">
    <div class="mr-2 flex">
      <h1 class="flex-1 text-xl font-bold text-gray-900 dark:text-white">Everything you need in one place</h1>
    </div>
  </div>

  <div id="default-carousel" class="relative z-0 mb-5 w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-44 overflow-hidden rounded-box">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div
          class="absolute top-1/2 left-1/2 z-0 block h-48 w-full -translate-x-1/2 -translate-y-1/2"
          style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
              url('./assets/images/promo-01.jpg');
            background-position: center;
            background-size: cover;
          "></div>
        <p class="absolute w-2/3 p-5 text-lg text-white">
          Earn Up to 25% Off on All Electronic Purchases!
          <button
            class="mt-2 block rounded-full border-2 border-solid border-white p-2.5 text-center text-sm text-white dark:bg-gray-700 dark:text-white">
            Get Discount
          </button>
        </p>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div
          class="absolute top-1/2 left-1/2 z-0 block h-48 w-full -translate-x-1/2 -translate-y-1/2"
          style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
              url('./assets/images/promo-02.jpg');
            background-position: center;
            background-size: cover;
          "></div>
        <p class="absolute w-2/3 p-5 text-lg text-white">
          Extra Savings when you buy more than $100.00 on everh purchase
          <button
            class="mt-2 block rounded-full border-2 border-solid border-white p-2.5 text-center text-sm text-white dark:bg-gray-700 dark:text-white">
            Learn More
          </button>
        </p>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div
          class="absolute top-1/2 left-1/2 z-0 block h-48 w-full -translate-x-1/2 -translate-y-1/2"
          style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
              url('./assets/images/promo-03.jpg');
            background-position: center;
            background-size: cover;
          "></div>
        <p class="absolute w-2/3 p-5 text-lg text-white">
          Free Delivery when you buy more than $300.00 from selected areas
          <button
            class="mt-2 block rounded-full border-2 border-solid border-white p-2.5 text-center text-sm text-white dark:bg-gray-700 dark:text-white">
            Show Areas
          </button>
        </p>
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div
          class="absolute top-1/2 left-1/2 z-0 block h-48 w-full -translate-x-1/2 -translate-y-1/2"
          style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
              url('./assets/images/promo-04.jpg');
            background-position: center;
            background-size: cover;
          "></div>
        <p class="absolute w-2/3 p-5 text-lg text-white">
          Daily Deals everyday for the next 365 days. Don't miss out!
          <button
            class="mt-2 block rounded-full border-2 border-solid border-white p-2.5 text-center text-sm text-white dark:bg-gray-700 dark:text-white">
            Learn More
          </button>
        </p>
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div
          class="absolute top-1/2 left-1/2 z-0 block h-48 w-full -translate-x-1/2 -translate-y-1/2"
          style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
              url('./assets/images/promo-05.jpg');
            background-position: center;
            background-size: cover;
          "></div>
        <p class="absolute w-2/3 p-5 text-lg text-white">
          Proud sponsor of our National Sport Team since 1999
          <button
            class="mt-2 block rounded-full border-2 border-solid border-white p-2.5 text-center text-sm text-white dark:bg-gray-700 dark:text-white">
            Learn More
          </button>
        </p>
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"></button>
    </div>
  </div>

  <div class="mb-2">
    <div class="mr-2 flex">
      <h1 class="flex-1 text-xl font-bold text-gray-900 dark:text-white">Popular Products 🔥</h1>
      <button type="button" class="text-center text-sm font-medium text-gray-700">
        <p class="text-lg text-gray-500 dark:text-gray-300" (click)="navigate('/home/gallery')">See all</p>
      </button>
    </div>
  </div>

  <div class="overflow-x-auto" style="scrollbar-width: none">
    <div class="carousel">
      <div class="carousel-item mr-3">
        <div class="mb-4">
          <ul
            class="flex flex-wrap text-center text-sm font-medium"
            id="default-styled-tab"
            data-tabs-toggle="#default-styled-tab-content"
            data-tabs-active-classes="bg-gray-900 dark:bg-gray-500 rounded-box text-white hover:text-white dark:text-white dark:hover:text-white border-white dark:border-white"
            data-tabs-inactive-classes="bg-gray-100 dark:bg-gray-900 rounded-full dark:border-transparent text-gray-600 dark:text-white dark:border-gray-700 dark:hover:text-gray-300"
            role="tablist">
            <li class="me-2" role="presentation">
              <button
                class="flex px-4 py-2"
                id="all-styled-tab"
                data-tabs-target="#styled-all"
                type="button"
                role="tab"
                aria-controls="all"
                aria-selected="false">
                <svg-icon src="assets/icons/other/layers.svg" [svgClass]="'h-5 w-5 mr-1'"> </svg-icon>
                All Products
              </button>
            </li>
            <li class="me-2" role="presentation">
              <button
                class="flex px-4 py-2"
                id="electronics-styled-tab"
                data-tabs-target="#styled-electronics"
                type="button"
                role="tab"
                aria-controls="electronics"
                aria-selected="false">
                <svg-icon src="assets/icons/other/phone.svg" [svgClass]="'h-5 w-5 mr-1'"> </svg-icon>
                Electronics
              </button>
            </li>
            <li role="presentation">
              <button
                class="flex px-4 py-2"
                id="furniture-styled-tab"
                id="contacts-styled-tab"
                data-tabs-target="#styled-furniture"
                type="button"
                role="tab"
                aria-controls="furniture"
                aria-selected="false">
                <svg-icon src="assets/icons/other/chair.svg" [svgClass]="'h-5 w-5 mr-1'"> </svg-icon>
                Furniture
              </button>
            </li>
            <li class="me-2" role="presentation">
              <button
                class="flex px-4 py-2"
                id="swag-styled-tab"
                data-tabs-target="#styled-swag"
                type="button"
                role="tab"
                aria-controls="swag"
                aria-selected="false">
                <svg-icon src="assets/icons/other/shirt.svg" [svgClass]="'h-5 w-5 mr-1'"> </svg-icon>
                Swag
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="default-styled-tab-content">
    <div class="hidden" id="styled-all" role="tabpanel" aria-labelledby="all-tab">
      <div class="overflow-x-auto" style="scrollbar-width: none">
        <div class="carousel">
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-01.jpg"
              title="Lenovo Core i7 Core Duo Processor"
              stars="4.4"
              ratings="328"
              amount="56"
              oldAmount="99"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-02.jpg"
              title="Occulus Headset Pro 5000"
              stars="4.6"
              ratings="108"
              amount="1299"
              oldAmount="1599"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-03.jpg"
              title="Smart Watch Genkins Superfit"
              stars="4.8"
              ratings="628"
              amount="299"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-04.jpg"
              title="Prinston couch set six piece"
              stars="4.4"
              ratings="328"
              amount="2999"
              oldAmount="3299"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-05.jpg"
              title="Striking Fit Lean two piece"
              stars="4.9"
              ratings="359"
              amount="29"
              oldAmount="69"></app-product-item>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden" id="styled-electronics" role="tabpanel" aria-labelledby="electronics-tab">
      <div class="overflow-x-auto" style="scrollbar-width: none">
        <div class="carousel">
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-06.jpg"
              title="Samsong Galaxy Smart Phone"
              stars="4.9"
              ratings="1928"
              amount="999"
              oldAmount="1199"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-07.jpg"
              title="Levnoso Omen Pro 8k"
              stars="4.6"
              ratings="677"
              amount="1499"
              oldAmount="1899"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-08.jpg"
              title="Skull Sweety Headphones Ultra"
              stars="3.9"
              ratings="528"
              amount="89"
              oldAmount=""></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-09.jpg"
              title="Elegant watch pro smart detector"
              stars="4.2"
              ratings="28"
              amount="399"
              oldAmount=""></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-10.jpg"
              title="VR headset for case for smart phone"
              stars="3.7"
              ratings="128"
              amount="19"
              oldAmount="29"></app-product-item>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden" id="styled-swag" role="tabpanel" aria-labelledby="swag-tab">
      <div class="overflow-x-auto" style="scrollbar-width: none">
        <div class="carousel">
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-11.jpg"
              title="Sweat pant pro athlete extreme"
              stars="4.8"
              ratings="572"
              amount="29"
              oldAmount="32"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-12.jpg"
              title="Womens sport shoes pro make"
              stars="4.2"
              ratings="851"
              amount="79"
              oldAmount="89"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-13.jpg"
              title="Extreme womens two piece active wear"
              stars="4.9"
              ratings="1322"
              amount="129"
              oldAmount="159"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-14.jpg"
              title="Men active wear strong fir t-shirt"
              stars="4.5"
              ratings="558"
              amount="39"
              oldAmount="45"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-15.jpg"
              title="Mens running shoes active wear pro"
              stars="4.3"
              ratings="98"
              amount="99"
              oldAmount="119"></app-product-item>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden" id="styled-furniture" role="tabpanel" aria-labelledby="furniture-tab">
      <div class="overflow-x-auto" style="scrollbar-width: none">
        <div class="carousel">
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-16.jpg"
              title="Outdoor lounge set four piece"
              stars="4.0"
              ratings="601"
              amount="999"
              oldAmount="1199"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-17.jpg"
              title="Consulting chairs with matching table set"
              stars="2.9"
              ratings="28"
              amount="1599"
              oldAmount=""></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-18.jpg"
              title="Queen size sleep master pro"
              stars="4.2"
              ratings="528"
              amount="1159"
              oldAmount="1199"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-19.jpg"
              title="Elite coffe table smooth design"
              stars="4.1"
              ratings="1120"
              amount="79"
              oldAmount="99"></app-product-item>
          </div>
          <div class="carousel-item mr-3">
            <app-product-item
              image="./assets/images/image-20.jpg"
              title="Standing office desk dark wood"
              stars="4.8"
              ratings="124"
              amount="129"
              oldAmount="149"></app-product-item>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-3">
    <div class="mr-2 flex">
      <h1 class="flex-1 text-xl font-bold text-gray-900 dark:text-white">Newly Added 🆕</h1>
      <button type="button" class="text-center text-sm font-medium text-gray-700">
        <p class="text-lg text-gray-500 dark:text-gray-300" (click)="navigate('/home/gallery')">See all</p>
      </button>
    </div>
  </div>

  <div class="mb-6 overflow-x-auto" style="scrollbar-width: none">
    <div class="carousel">
      <div class="carousel-item mr-3">
        <app-product-grid-item
          image="./assets/images/image-13.jpg"
          title="Extreme womens two piece active wear"
          stars="4.9"
          ratings="1322"
          amount="129"
          oldAmount="159"></app-product-grid-item>
      </div>
      <div class="carousel-item mr-3">
        <app-product-grid-item
          image="./assets/images/image-18.jpg"
          title="Queen size sleep master pro"
          stars="4.2"
          ratings="528"
          amount="1159"
          oldAmount="1199"></app-product-grid-item>
      </div>
      <div class="carousel-item mr-3">
        <app-product-grid-item
          image="./assets/images/image-12.jpg"
          title="Womens sport shoes pro make"
          stars="4.2"
          ratings="851"
          amount="79"
          oldAmount="89"></app-product-grid-item>
      </div>
      <div class="carousel-item mr-3">
        <app-product-grid-item
          image="./assets/images/image-05.jpg"
          title="Striking Fit Lean two piece"
          stars="4.9"
          ratings="359"
          amount="29"
          oldAmount="69"></app-product-grid-item>
      </div>
      <div class="carousel-item mr-3">
        <app-product-grid-item
          image="./assets/images/image-09.jpg"
          title="Elegant watch pro smart detector"
          stars="4.2"
          ratings="28"
          amount="399"
          oldAmount=""></app-product-grid-item>
      </div>
    </div>
  </div>
</div>
