<form class="mb-5 flex max-w-sm">
  <div class="relative mr-2 flex-1">
    <div class="start-0 ps-3.5 pointer-events-none absolute inset-y-0 flex items-center">
      <svg-icon src="assets/icons/heroicons/solid/search.svg" [svgClass]="'h-4 w-4 text-gray-700 dark:text-white'">
      </svg-icon>
    </div>
    <input
      type="text"
      id="email-address-icon"
      class="ps-10 block w-full rounded-lg border border-gray-700 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
      placeholder="Search collections" />
  </div>
  <button type="button" class="rounded-full bg-gray-900 p-2.5 text-sm font-medium text-white">
    <svg-icon src="assets/icons/heroicons/solid/toggle.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
  </button>
</form>
<div class="grid grid-cols-3 gap-4 md:grid-cols-4">
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/avatar-02.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-02.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-03.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-04.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-05.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/sky.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/avatar-03.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-08.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-09.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-10.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-11.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-12.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-13.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-14.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-15.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-16.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-17.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-19.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/profile.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/icon.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/QBnFWpKjRQOtTTR-MqfZvw.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-07.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-01.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-18.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-20.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-21.jpg" alt="" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./assets/images/image-06.jpg" alt="" />
    </div>
  </div>
</div>
