<div class="flex h-16 items-center bg-background">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="https://cloudgate.dev" target="_blank" class="hover:text-primary"> Cloudgate.dev LLC</a>. All Rights
      Reserved.
    </div>
    <ul class="flex text-muted-foreground/50">
      <li class="hover:text-primary">
        <a href="https://cloudgate.dev/privacy" target="_blank" class="menu-link px-2">Privacy</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://cloudgate.dev/terms" target="_blank" class="menu-link px-2">Terms</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://cloudgate.dev" target="_blank" class="menu-link px-2">Website</a>
      </li>
    </ul>
  </div>
</div>
