<div class="h-full">
  <app-favourite-list-item
    image="./assets/images/image-01.jpg"
    title="G'WAGONz"
    handle="@sleeping_panda"
    followers="5850"
    amount="5.320 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-02.jpg"
    title="K9s"
    handle="@labra_fifi"
    followers="7250"
    amount="3.123 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-03.jpg"
    title="Chimp Champ"
    handle="@xyz_flame"
    followers="11250"
    amount="2.940 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-04.jpg"
    title="Dragon Tale"
    handle="@fairy_blade"
    followers="3750"
    amount="1.120 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-14.jpg"
    title="FutuRe Soundz"
    handle="@music_mix"
    followers="9864"
    amount="1.620 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-15.jpg"
    title="Good ViBeZ"
    handle="@smokey_grill"
    followers="11245"
    amount="4.823 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-16.jpg"
    title="BlissZ"
    handle="@happy_tunez"
    followers="14874"
    amount="6.140 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-17.jpg"
    title="Wolfen"
    handle="@night_tales"
    followers="9750"
    amount="1.820 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-18.jpg"
    title="DJ Skull"
    handle="@skull_keep"
    followers="9240"
    amount="0.912 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-19.jpg"
    title="Lazer Breath"
    handle="@lilo_cakes"
    followers="7884"
    amount="4.199 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-20.jpg"
    title="Damage Soul"
    handle="@deep_desire"
    followers="18250"
    amount="7.140 ETH"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-21.jpg"
    title="Scary CaZ"
    handle="@night_owl"
    followers="1174"
    amount="1.620 ETH"></app-favourite-list-item>
</div>
