<div class="absolute top-0 z-20 mt-80 w-72 px-3 text-white">
  <div class="flex items-center justify-between">
    <div class="mr-5 flex-1 rounded-lg bg-gray-400/90 p-2">
      <span class="-mb-1 block text-xs">Auction ending in</span>
      <span class="font-semibold">1D | 7H | 24M</span>
    </div>
    <div class="rounded-lg bg-gray-900/90 p-2">
      <span class="-mb-1 block text-xs">Current BID</span>
      <span class="font-semibold">5.320 ETH</span>
    </div>
  </div>
</div>
<div
  style="background: url('./assets/images/image-01.jpg'); background-position: center; background-size: cover"
  class="absolute left-0 right-0 top-0 z-10 flex h-[400px] w-full items-center justify-center rounded-b-3xl">
  <button
    [ngClass]="isIOS ? 'mt-14' : 'mt-8'"
    class="absolute right-0 top-0 z-10 mr-5 rounded-full bg-white p-2 text-center text-sm font-medium dark:bg-gray-700">
    <svg-icon src="assets/icons/heroicons/solid/heart.svg" [svgClass]="'h-5 w-5 text-red-500'"> </svg-icon>
  </button>
</div>
<div class="mt-[320px]">
  <app-nft-user-item
    image="./assets/images/avatar-03.jpg"
    handle="@cyber_funk_789"
    followers="8250"></app-nft-user-item>
</div>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul
    class="-mb-px flex flex-wrap text-center text-sm font-medium"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist">
    <li class="me-2" role="presentation">
      <button
        class="inline-block rounded-t-lg border-b-2 p-4"
        id="profile-tab"
        data-tabs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false">
        Description
      </button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block rounded-t-lg border-b-2 p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
        id="dashboard-tab"
        data-tabs-target="#dashboard"
        type="button"
        role="tab"
        aria-controls="dashboard"
        aria-selected="false">
        Reviews
      </button>
    </li>
  </ul>
</div>
<div id="default-tab-content">
  <div
    class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab">
    <p class="text-sm text-gray-500 dark:text-gray-400">
      <strong class="text-lg font-medium text-gray-800 dark:text-white">G'WAGONz</strong>
    </p>
    <br />
    <p class="text-sm text-gray-500 dark:text-gray-400">
      Owners of Cyber Funk G'WAGONz NFTs gain access to an exclusive community of cat lovers and space enthusiasts.
      Benefits include special event invitations, airdrops of limited-edition NFTs, and participation in interactive
      story-driven adventures set in the Cosmic Cats universe. Additionally, each NFT serves as a membership pass to
      virtual spaces where holders can interact, trade, and collaborate on future projects.
    </p>
  </div>
  <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <div class="flex flex-col gap-3 text-foreground">
      <div class="flex flex-col gap-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-800">
        <div class="justify flex justify-between">
          <div class="flex gap-2">
            <div class="h-6 w-6 rounded-full bg-black text-center text-white">J</div>
            <span>Johnny Walkens</span>
          </div>
          <div class="flex items-center">
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-gray-300 dark:text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
        </div>

        <div class="text-sm">Amazing place to find a responsive design!</div>

        <div class="flex items-center justify-between text-xs">
          <span>Feb 13, 2021</span>
          <button
            class="rounded-lg bg-primary px-5 py-2.5 text-xs font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700">
            Helpful
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-800">
        <div class="justify flex justify-between">
          <div class="flex gap-2">
            <div class="h-6 w-6 rounded-full bg-black text-center text-white">K</div>
            <span>Kelly Peterson</span>
          </div>
          <div class="flex items-center">
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg
              class="ms-1 h-4 w-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
        </div>

        <div class="text-sm">You have to try it out atleast once in your life.</div>

        <div class="flex items-center justify-between text-xs">
          <span>Dec 19, 2020</span>
          <button
            class="rounded-lg bg-primary px-5 py-2.5 text-xs font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700">
            Helpful
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="absolute bottom-0 left-0 flex w-full bg-white dark:bg-gray-900">
  <div class="m-6 flex w-full justify-around">
    <button
      class="rounded-full bg-primary px-5 py-2.5 text-lg font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700">
      Place Bid
    </button>
  </div>
</div>
