<div class="h-full">
  <app-favourite-list-item
    image="./assets/images/image-06.jpg"
    name="Dr. A. Obama"
    type="General Practictioner"
    stars="4.9"
    ratings="1898"
    distance="67"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-01.jpg"
    name="Dr. M.H. Sweedish"
    type="General Practictioner"
    stars="4.4"
    ratings="328"
    distance="56"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-05.jpg"
    name="Dr. J.K. van Vuuren"
    type="General Practictioner"
    stars="4.6"
    ratings="418"
    distance="19"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-02.jpg"
    name="Dr. P. Maseke"
    type="General Practictioner"
    stars="4.3"
    ratings="298"
    distance="26"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-03.jpg"
    name="Dr. S.K. Roberts"
    type="General Practictioner"
    stars="4.5"
    ratings="728"
    distance="117"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-04.jpg"
    name="Dr. R. Roling"
    type="General Practictioner"
    stars="4.6"
    ratings="2101"
    distance="88"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-07.jpg"
    name="Dr. W. Westworld"
    type="General Practictioner"
    stars="4.1"
    ratings="640"
    distance="55"></app-favourite-list-item>
  <app-favourite-list-item
    image="./assets/images/image-08.jpg"
    name="Dr. Z. Janse van Vuuren"
    type="General Practictioner"
    stars="4.3"
    ratings="793"
    distance="86"></app-favourite-list-item>
</div>
