<div class="h-full">
  <app-podcast-list-item
    image="./assets/images/image-08.jpg"
    title="Hot or Spicy"
    subtitle="Would you like some tea"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-12.jpg"
    title="Panda Bee"
    subtitle="Not everyone loves flowers"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-09.jpg"
    title="Life Hack"
    subtitle="Medicine for the soul"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-11.jpg"
    title="Kitty Cat"
    subtitle="Prrrr away your troubles"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-10.jpg"
    title="Swing Swing"
    subtitle="Life about a plan set in motion"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-01.jpg"
    title="Cool Bananas"
    subtitle="A lazy day is healty"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-13.jpg"
    title="8 Feet Problems"
    subtitle="Raindrops falling me down"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-14.jpg"
    title="Fearless Future"
    subtitle="A story about life"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-06.jpg"
    title="Spooky Town"
    subtitle="Halloween freaks and spooks"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-05.jpg"
    title="Tiger Town"
    subtitle="Scratching the surface"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-15.jpg"
    title="Master Morph"
    subtitle="Finding balance with kung-fu"></app-podcast-list-item>
  <app-podcast-list-item
    image="./assets/images/image-16.jpg"
    title="Tranquillity"
    subtitle="Finding inner peach and feeling ora"></app-podcast-list-item>
</div>

<!-- <div class="h-full" *ngIf="loaded">
  <div *ngFor="let item of items">
    <app-podcast-list-item
      [image]="item.imageUrl"
      [title]="item.name"
      [subtitle]="item.description"></app-podcast-list-item>
  </div>
</div> -->
